Measuring safety performance on tracking receivers after the ball is thrown.

In [46]:
import pandas as pd

In [47]:
players = pd.read_csv('./data/players.csv')
safeties = players[players.position.isin(['FS', 'SS'])]
safeties

,nflId,height,weight,birthDate,collegeName,position,displayName
2,2543850,69,186,1991-12-18,Purdue,SS,Ricardo Allen
5,2555543,73,216,1995-07-26,Florida,FS,Keanu Neal
16,2558184,71,190,1993-06-05,San Diego State,SS,Damontae Kazee
25,79848,72,204,1987-12-20,Ohio State,SS,Malcolm Jenkins
26,2534832,70,195,1990-06-23,Virginia,FS,Rodney McLeod
...,...,...,...,...,...,...,...
1150,2540287,72,203,1988-11-25,California (PA),FS,Rontez Miles
1159,2558274,72,202,1994-08-05,Washington State,FS,Shalom Luani
1203,2532928,5-10,210,12/17/1988,Oregon,SS,Eddie Pleasant
1237,496723,6-0,212,12/29/1988,Tennessee,SS,Eric Berry
1250,2541135,74,203,1989-06-06,Texas Tech,FS,Cody Davis

In [48]:
games = pd.read_csv('./data/games.csv')
GAME1 = games.iloc[0].gameId
GAME1

2018090600

GET ALL PLAYs FROM THIS GAME

In [49]:
plays = pd.read_csv('./data/plays.csv')
plays_game1 = plays[plays['gameId'] == GAME1]
plays_game1

,gameId,playId,playDescription,quarter,down,yardsToGo,possessionTeam,playType,yardlineSide,yardlineNumber,...,preSnapHomeScore,gameClock,absoluteYardlineNumber,penaltyCodes,penaltyJerseyNumbers,passResult,offensePlayResult,playResult,epa,isDefensivePI
0,2018090600,75,(15:00) M.Ryan pass short right to J.Jones pus...,1,1,15,ATL,play_type_pass,ATL,20,...,0.0,15:00:00,90.0,NaN,NaN,C,10,10,0.261827,False
1,2018090600,146,(13:10) M.Ryan pass incomplete short right to ...,1,1,10,ATL,play_type_pass,PHI,39,...,0.0,13:10:00,49.0,NaN,NaN,I,0,0,-0.372360,False
2,2018090600,168,(13:05) (Shotgun) M.Ryan pass incomplete short...,1,2,10,ATL,play_type_pass,PHI,39,...,0.0,13:05:00,49.0,NaN,NaN,I,0,0,-0.702779,False
3,2018090600,190,(13:01) (Shotgun) M.Ryan pass deep left to J.J...,1,3,10,ATL,play_type_pass,PHI,39,...,0.0,13:01:00,49.0,NaN,NaN,C,33,33,3.047530,False
4,2018090600,256,(10:59) (Shotgun) M.Ryan pass incomplete short...,1,3,1,ATL,play_type_pass,PHI,1,...,0.0,10:59:00,11.0,NaN,NaN,I,0,0,-0.842272,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18606,2018090600,1226,(8:23) (Shotgun) N.Foles pass incomplete short...,2,3,7,PHI,play_type_unknown,ATL,17,...,NaN,NaN,NaN,DPI,ATL 21,I,0,8,1.169181,True
18607,2018090600,1715,(1:50) (Shotgun) N.Foles pass short right to N...,2,1,10,PHI,play_type_unknown,PHI,24,...,NaN,NaN,NaN,DH,ATL 21,C,7,5,0.169598,False
18608,2018090600,2305,(13:44) (Shotgun) N.Foles pass incomplete shor...,3,1,10,PHI,play_type_unknown,PHI,36,...,NaN,NaN,NaN,ICT,ATL 23,I,0,5,0.309866,False
18609,2018090600,3626,(8:31) (Shotgun) N.Foles pass short right to N...,4,3,4,PHI,play_type_unknown,PHI,31,...,NaN,NaN,NaN,OPI,PHI 86,C,10,-10,-0.694743,False
18610,2018090600,4439,(:06) (Shotgun) M.Ryan pass incomplete short r...,4,4,10,ATL,play_type_unknown,PHI,10,...,NaN,NaN,NaN,ICT,PHI 58,I,0,5,1.383655,False

In [50]:
week1 = pd.read_csv('./data/week1.csv')
game1 = week1[(week1['gameId'] == GAME1)]
PLAY1 = pd.unique(game1.playId)[0]
g1p1 = game1[game1['playId']==PLAY1]
pd.unique(g1p1[g1p1['event']=='pass_forward'].time)
pd.unique(g1p1[g1p1['event']=='pass_arrived'].time)

array(['2018-09-07T01:07:19.200Z'], dtype=object)

In [99]:
plays = pd.read_csv('./data/plays.csv')
plays = plays[(plays['gameId'] == GAME1) & plays.passResult.isin(['C', 'I'])]
for p in pd.unique(plays.playId):
    temp_pd = plays[plays['playId'] == p].playDescription.values[0]
    split_to = temp_pd.split('to ')
    receiver = split_to[1].split()[0] if len(split_to) > 1 else ''
#     if(receiver == 'PHI'): print(temp_pd)
    print(receiver)

J.Jones
C.Ridley
D.Freeman.
J.Jones
D.Freeman.
N.Agholor
D.Sproles
M.Sanu.
T.Coleman
A.Hooper

A.Hooper.
N.Agholor
J.Jones
D.Freeman
N.Agholor
N.Agholor
N.Agholor
D.Carter
D.Sproles
D.Goedert
Z.Ertz
J.Jones
M.Sanu
M.Sanu.
D.Sproles.
N.Agholor
Z.Ertz
D.Sproles.
Z.Ertz.
J.Jones
C.Ridley
D.Freeman
J.Jones
M.Wallace.
M.Wallace
D.Sproles
Z.Ertz
N.Agholor
N.Agholor
J.Jones
J.Jones

J.Jones
D.Goedert
Z.Ertz
N.Agholor
N.Foles
Z.Ertz.
Z.Ertz
A.Hooper
J.Jones
Z.Ertz
Z.Ertz.
J.Jones.
E.Saubert
J.Jones
M.Sanu
J.Jones
Z.Ertz.
M.Sanu
D.Freeman
N.Agholor
M.Wallace
D.Sproles
D.Sproles
A.Hooper
J.Jones
T.Coleman.
J.Jones
J.Jones
M.Sanu

J.Jones

J.Jones
M.Wallace
N.Agholor
Z.Ertz
N.Agholor